/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



.left {
    width: 50px;
    height: 100%;
    background: #2f2f2f;
    white-space: nowrap;
    transition: width 0.5s;
    position: fixed;
    z-index: 9999;
}

    .left ul {
        padding: 0;
        list-style-type: none;
        text-align: left;
    }

    .left li {
        width: auto;
        height: 60px;
        line-height: 50px;
        padding-left: 18px;
    }

        .left li:hover {
            background: black;
        }

    .left:hover {
        width: 200px;
    }

    .left .item-menu {
        height: 50px;
        overflow: hidden;
        color: #fff;
    }

    .left a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

span.menu {
    padding-left: 17px;
}

.t_search {
    color: black;
    height: 35px;
    margin-left: 15px;
    width: 190px
}