@{
    ViewData["Title"] = "Home Page";
}


    

    <div class="container">
      

        <div class="row">

            <div class="col" style="background-color: darkblue"> maybe </div>
            <div class="col"> here comes somethig</div>

        </div>

    </div>








