<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrototypeG3T2</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

            <div class="container-fluid" style="background-color: #2f2f2f" >
                
                <a asp-area="" asp-controller="Home" asp-action="Index"><img style=" width: 200px;  height: 80px" src="https://www.airborne.com/wp-content/uploads/2015/11/airborn-logo-loader.png" alt="Airborne" title="Airborne"></a>
            
            </div>
      
    </header>

    <div class="row">
        <div class="left ">
            <ul>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <li class="item-menu">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="menu">Dashboard</span>
                    </li>
                </a>
                <a a asp-area="" asp-controller="Home" asp-action="Privacy">
                    <li class="item-menu">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span class="menu">Orders</span>
                    </li>
                </a>
                <a asp-area="" asp-controller="Account" asp-action="SignOut">
                    <li class="item-menu">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span class="menu">Logout</span>
                    </li>
                </a>
            </ul>
        </div> <!-- end left -->
    </div>
   






    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - PrototypeG3T2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
